 @import "../../../assets/styles/theme";
 @import "../../../assets/styles/sidebar";

 .bg-wrap{
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100vh;
   background-image: url("../../../assets/images/MERN.png"), radial-gradient( #1a2035, #010916);
   background-position: center;
   background-repeat: no-repeat;
  //  background-size: 50%;
  //  background: radial-gradient( #1a2035, #010916);
  //  backdrop-filter: blur(100px);

  :root{
    --v--bg: var(--e-bg);
  }

   .layout {
     background-color: $bg;
     color: $text;
     overflow: hidden;
     text-align: center;
     backdrop-filter: blur(100px);
     min-height: 100vh;
    //  background-color: rgba(23, 27, 31, .8);
    //  background-color: fade(var(--e-bg), 80%);
    //  $newbg: var(--e-bg);
    //  background-color: rgba(var(--e-bg), .8);
    // background-color: #171b1fdd;

     *::selection {
       background: #31bd59;
       color: #15232e;
     }

     .content {
       position: relative;
       width: calc(100vw - $sidebar);
       height: calc(100vh - var(--e-header));
       overflow-y: scroll;
       margin-top: var(--e-header);
       margin-left: $sidebar;
       transition: 0.15s linear;
     }

     h1 {
       font-size: 5rem;
       margin: 3rem auto;
       color: #2089d9;
     }
   }
 }