@import "../../../assets/styles/theme";

.header-wrapper{
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--e-header);
  background: $card;
  z-index: 23;
  padding: .5rem 1rem;

  .left{
    // width: 220px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      // width: 50%;
      display: flex;
      align-items: center;

      img{
        width: 24px;
        height: 24px;
      }
      h1{
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        margin-left: .5rem;
      }
      .burger{
        cursor: pointer;

        &:hover{
          color: $blue;
        }
      }
    }
  }

  .right{
    display: flex;
    align-items: center;

    .lang{
      width: 90px;
      height: 30px;
      border-radius: .5rem;
      background-color: $element;
    }
    .profile{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $element;
      // margin-left: 1rem;
    }
  }
}